# Resume Output Files (except .gitkeep)
OutputResumes/*
!OutputResumes/.gitkeep

# Source Resume Documents (except .gitkeep)
ResumeSourceFolder/*
!ResumeSourceFolder/.gitkeep

# Source Material (except .gitkeep)
SourceMaterial/*
!SourceMaterial/.gitkeep

# Job Postings (except .gitkeep)
Job_Postings/*
!Job_Postings/.gitkeep

# Briefing Notes (except .gitkeep)
Briefing_Notes/*
!Briefing_Notes/.gitkeep